{{#content-container title="Race" route="swd.race"}}
<p>Not every hero is human. Below are sample races common to many science fiction and fantasy settings. Use them as they are or modify them to fit your particular world. Imediately after you'll also find guidelines on how to create your own races.</p>
    <ol class='toc'>
      {{#link-to 'swd.race.android' tagName="li" class="link"}}<a href="{{route-to-path 'swd.race.android'}}">Android</a>{{/link-to}}
      {{#link-to 'swd.race.atlantean' tagName="li" class="link"}}<a href="{{route-to-path 'swd.race.atlantean'}}">Atlantean</a>{{/link-to}}
      <li>Avion</li>
      <li>Dwarves</li>
      <li>Elves</li>
      <li>Half-Elves</li>
      <li>Half-Folk</li>
      <li>Half-Orc</li>
      <li>Human</li>
      <li>Rakashans</li>
      <li>Saurians</li>
    </ol>
{{/content-container}}
{{outlet}}
