{{#content-container title="Table of Contents" route="swd"}}
  {{#collapsing-list title="Character Creation"}}
    {{#link-to 'swd.race' tagName="li" class="link"}}<a href="/swd/race">Race</a>{{/link-to}}
    {{#link-to 'swd.traits' tagName="li" class="link"}}<a href="/swd/traits">Traits</a>{{/link-to}}
    <li>Edges &amp; Hindrances</li>
    <li>Gear</li>
    <li>Background Details</li>
    <li>Archetypes</li>
    <li>Skills</li>
    <li>Hindrances</li>
    <li>Edges</li>
    <li>Advancement</li>
  {{/collapsing-list}}
  {{#collapsing-list title="Gear"}}
    <li>Encumberance</li>
    <li>Selected Gear Notes</li>
    <li>Hand Weapons Table</li>
    <li>Armor Table</li>
    <li>Ranged Weapons Table</li>
    <li>Vehicle Mounted &amp; AT Guns Table</li>
    <li>Special Weapons Table</li>
    <li>Mundane Items Table</li>
    <li>Ammunition Table</li>
    <li>Vehicles</li>
    <li>Vehicles Table</li>
    <li>Aircraft Table</li>
  {{/collapsing-list}}
{{/content-container}}


{{outlet}}
